<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CollectionView_ttb_2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A1A6AE41EB0897E001E434C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A1A6AFB1EB0897E001E434C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A1A6B061EB0897E001E434C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
